<!DOCTYPE html>
<html lang="en">

<head>

    <title>BGR News Scraper</title>

    <meta charset="utf-8">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
          
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="/javascript/app.js"></script>

</head>

<body>
    {{{body}}}
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>

</body>

</html>